.btn:focused {
    -fx-border-color: transparent, blue;
    /*-fx-border-width: 1, 1;*/
    /*-fx-border-style: solid;*/
    -fx-border-radius: 3, 3;
    /*-fx-border-insets: 1 1 1 1, 0;*/
}

.brushes:focused {
    -fx-border-color: transparent, blue;
    -fx-border-radius: 3, 3;
}

.btn:pressed {
    -fx-background-color: transparent;
}

.btn {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

#btnCrop {
    -fx-background-image: url("/images/xcrop.png");
    -fx-background-position: left;
}

#btnResize {
    -fx-background-image: url("/images/xresize.png");
    -fx-background-position: left;
}

#btnRotate {
    -fx-background-image: url("/images/xrotate1.png");
    -fx-background-position: left;
    -fx-background-repeat: no-repeat;
}

#btnPaste {
    -fx-background-image: url("/images/paste.png");
    -fx-background-size: 100% 100%;
}

#btnSelect {
    -fx-background-image: url("/images/select.png");
    -fx-background-size: 100% 100%;
}

#btnCut {
    -fx-background-image: url("/images/cut1.png");
    -fx-background-size: 100% 100%;
}

#btnCopy {
    -fx-background-image: url("/images/copy1.png");
    -fx-background-size: 100% 100%;
}

#btnBrush {
    -fx-background-image: url("/images/brush1.png");
    -fx-background-size: 100% 100%;
}

#btnOutline {
    -fx-background-image: url("/images/xoutLine.png");
    -fx-background-position: left;
}
#btnFill {
    -fx-background-image: url("/images/xfill.png");
    -fx-background-position: left;
}
#btnColor {
    -fx-background-image: url("/images/zcolor.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}
.imageButton:pressed {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
#btnSize {
    -fx-background-image: url("/images/xsize.png");
    -fx-background-size: 60% 60%;
    -fx-background-position: top;
    -fx-background-repeat: no-repeat;
}
/* view */
.clickButton {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}
.clickButton:pressed {
    -fx-border-color: blue;
}
#btnZoomIn {
    -fx-background-image: url("/images/xzoomIn.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}#btnZoomOut {
     -fx-background-image: url("/images/xzoomOut.png");
     -fx-background-size: 100% 100%;
     -fx-background-position: center;
 }
#btnFit100 {
    -fx-background-image: url("/images/xfit100.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}
#btnFullScreen {
    -fx-background-image: url("/images/xfullScreen.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}
#btnThumbnail {
    -fx-background-image: url("/images/xthumbnail.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}
.size {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}
.size:pressed{
    -fx-border-color: blue;
}
#size0 {
    -fx-background-image: url("/images/xsize0.png");
}
#size1 {
    -fx-background-image: url("/images/xsize1.png");
}
#size2 {
    -fx-background-image: url("/images/xsize2.png");
}
#size3 {
    -fx-background-image: url("/images/xsize3.png");
}
#btn00 {
    -fx-background-image: url("/images/pencil.png");
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btn10 {
    -fx-background-image: url("/images/paint1.png");
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btn20 {
    -fx-background-image: url("/images/text1.png");
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btn01 {
    -fx-background-image: url("/images/eraser2.png");
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btn11 {
    -fx-background-image: url("/images/colorPicker1.png");
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btn21 {
    -fx-background-image: url("/images/zoom1.png");
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.brushes {
    -fx-background-size: 85% 85%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#btnBrush00 {
    -fx-background-image: url("/images/xbrush00.png");
}

#btnBrush10 {
    -fx-background-image: url("/images/xbrush10.png");
}

#btnBrush20 {
    -fx-background-image: url("/images/xbrush20.png");
}

#btnBrush01 {
    -fx-background-image: url("/images/xbrush01.png");
}

#btnBrush11 {
    -fx-background-image: url("/images/xbrush11.png");
}

#btnBrush21 {
    -fx-background-image: url("/images/xbrush21.png");
}

#btnBrush02 {
    -fx-background-image: url("/images/xbrush02.png");
}

#btnBrush12 {
    -fx-background-image: url("/images/xbrush12.png");
}

#btnBrush22 {
    -fx-background-image: url("/images/xbrush22.png");
}

